<body>

  <p>The URL you requested is: <%= @url %></p>
  </br>
  </br>
  <%= @links %>
  </br>
  </br>
  <%= @sorted_links %>
  </br>
  </br>
  <%= @twitter %>
  </br>
  </br>
  <%= @github %>

</body>
